:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
  background: rgb(196, 206, 224);
  /* background: linear-gradient(to right, rgb(196, 206, 224), rgb(90, 98, 112));*/
}

.logo {
  max-width: 100px;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 1.25s linear;
  -moz-transition: opacity 1.25s linear;
  -ms-transition: opacity 1.25s linear;
  -o-transition: opacity 1.25s linear;
  transition: opacity 1.25s linear;
}

.main-content-onepage {
  max-height: 80vh;
  overflow-y: scroll;
}

/*zdroj= "https://steemit.com/utopian-io/@alfarisi94/how-to-make-step-progress-bar-only-using-css"*/

.container-progressbar {
  width: 100%;
  counter-reset: step;
  z-index: 1;
  margin: 0 auto;
  max-width: 1200px;
}
.progressbar li {
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  list-style: none;
}

.progressbar li a {
  color: black;
}

.progressbar li a:hover {
  color: #8b0000;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 5px auto;
  border-radius: 50%;
  line-height: 27px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #979797;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li:first-child::before {
  border-color: #008b00;
  background: #008b00;
  color: white;
}

.progressbar li.act + li:after {
  background: #008b00;
}
.progressbar li.act + li:before {
  border-color: #008b00;
  background: #008b00;
  color: white;
}

.pay-method,
.wrapper-transit-pay {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.wrapper-transit-pay .pay-method section {
  background-color: whitesmoke;
  border-radius: 5px;
  height: 30px;
  align-items: center;
}

.wrapper-transit-pay button {
  width: 100%;
  margin: 0 auto;
}
.navbar-brand {
  font-family: "Just Me Again Down Here", cursive;
  font-size: xx-large !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.customer-panel button {
  color: whitesmoke;
}

#dropdownMenuLink {
  color: whitesmoke;
}
