<div
  class="card border border-primary rounded pl-2 mt-4"
  style="text-align: center;"
>
  <h4>Foreign Currency</h4>
  <div class="container">
    <div class="row">
      <div class="col-4">
        Price
      </div>
      <div class="col-8">{{ foreignPrice.price }} {{ foreignPrice.type }}</div>
    </div>
  </div>
</div>
