@layout('master') 

@section('content')
<div class="card bg-light mb-3" style="max-width: 18rem; margin:0 auto; margin-top:50px">
    <div class="card-header">Dear Cusotmer</div>
    <div class="card-body">
      <h5 class="card-title">Your cart is empty</h5>
      <p class="card-text">You can add items to the cart in the event menu. Have a nice purchase.</p>
    </div>
  </div>
@endsection